{% load static %}


<div class="container">
    <div class="row pb-4 pt-4 text-center">
      <div class="col col-12 col-lg">
        <a href="#">Sobre BanZac</a>
      </div>
      <div class="col col-12 col-lg">
        <a href="#">Contacto</a>
      </div>
      <div class="col col-12 col-lg">
        <a href="#">Política de Privacidad</a>
      </div>
      <div class="col col-12 col-lg">
        <a href="{% url "update_profile" %}">Actualizar mis Datos</a>
      </div>
    </div>      
</div> 