{% extends "users/base.html" %}

{% block head_content %}
<title>BanZac Sign In</title>
{% endblock%}

{% block container %}
    {% if form.errors %}
        <p class="alert alert-danger">
            Your username and password didn't match. Please try again.
        </p>
    {% endif%}

    <form method="POST" action="{% url "users:login" %}">
        {% csrf_token %}

        {# Username Field #}
        <div class="form-group">
            <input 
                class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
                type="text" 
                placeholder="Username" 
                name="username" 
                value="{% if form.errors %}{{ form.username.value }}{% else %}{{ user.username }}{% endif %}"
                />
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
        </div>

        {# Password Field #}
        <div class="form-group">
            <input 
                class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                type="password" 
                placeholder="Password" 
                name="password" 
                value="{% if form.errors %}{{ form.password.value }}{% else %}{{ user.password }}{% endif %}"
                />
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
        </div>

        <button class="btn btn-danger btn-block mt-3 mb-3" type="submit">
            Sign in!
        </button>

        <a class="btn btn-danger btn-block" href="{% url "users:signup" %}" role="button">
            Comienza Ahora!
        </a>

    </form>
{% endblock %}