{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram Sign up</title>
{% endblock %}

{% block container %}

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url "users:signup" %}" method="POST">
        {% csrf_token %}

        {# Username Field #} 
        <div class="form-group">
            <input 
                type="text" 
                class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
                placeholder="Username" 
                name="username" 
                value="{% if form.errors %}{{ form.username.value }}{% else %}{{ user.username }}{% endif %}"
            />
        </div>

        {# Password Field #}
        <div class="form-group">
            <input 
                type="password" 
                class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                placeholder="Password" 
                name="password" 
            />
        </div>

        {# Password Confirmation Field #}
        <div class="form-group">
            <input 
                type="password" 
                class="form-control {% if form.password_confirmation.errors %}is-invalid{% endif %}" 
                placeholder="Password Confirmation" 
                name="password_confirmation" 
            />
        </div>

        {# First Name Field #}
        <div class="form-group">
            <input 
                type="text" 
                class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" 
                placeholder="First name" 
                name="first_name" 
                value="{% if form.errors %}{{ form.first_name.value }}{% else %}{{ user.first_name }}{% endif %}"
            />
        </div>

        {# Last Name Field #}
        <div class="form-group">
            <input 
                type="text" 
                class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" 
                placeholder="Last name" 
                name="last_name" 
                value="{% if form.errors %}{{ form.last_name.value }}{% else %}{{ user.last_name }}{% endif %}"
            />
        </div>

        {# Email Field #}
        <div class="form-group">
            <input 
                type="email" 
                class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
                placeholder="Email" 
                name="email" 
                value="{% if form.errors %}{{ form.email.value }}{% else %}{{ user.email }}{% endif %}"
            />
        </div>

        <button class="btn btn-danger btn-block mt-3" type="submit">Register!</button>

    </form>

{% endblock %}